<h2>{{name}}</h2>
{{!-- <p><span>Capital: </span>{{capital}}</p>
<p><span>Population: </span>{{population}}</p>
<h3>Languages:</h3>
<ul>
  {{#each languages}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<img src="{{flag}}" alt="{{name}}"> --}}